* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  border-radius: 20px;
  width: 600px;
  background-color: black;
  color: white;
  padding-left: 60px;
  display: flex;
  align-items: center;
  height: 50px;
}
.button {
  background-color: #f5f5f7;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
